{% extends "layout.html" %}
{% block body %} 

<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>


<h2 style="text-align: center;">Welcome to the NGO page {{name}}</h2>
<br>
<div>
 <a class="btn btn-outline-primary btn-md btn-block" data-toggle="collapse" href="#newJob" role="button" aria-expanded="false" aria-controls="newJob">New Job</a>
 <div class='row'>
 	<div class='col-md-12'>
 		<div class="collapse multi-collapse" id="newJob">
	      <div class="card card-body">
	        <form method="POST" action="{{ url_for('new_job') }}">
	        	<div class="form-row">
	        		<div class="form-group col-md-12">
	        			<label for="title">Title</label>
      					<input type="text" class="form-control" id="title" name="title" placeholder="Enter Title">
	        		</div>
	        	</div>
	        	<div class="form-row">
	        		<div class="form-group col-md-12">
	        			<label for="description">Description</label>
      					<textarea class="form-control" id="description" name="description" placeholder="Enter Description"></textarea>
	        		</div>
	        	</div>

	        	<div class="form-row">
	        		<div class="form-group col-md-6">
	        			<label for="sel1">Duration:</label>
						  <select class="form-control" id="duration" name="duration">
						    <option>1 month</option>
						    <option>2 months</option>
						    <option>6 months</option>
						  </select>
	        		</div>

	        		<div class="form-group col-md-6">
	        			<label for="location">Location</label>
      					<input type="text" class="form-control" id="location" name="location" placeholder="Enter Location">
	        		</div>
	        		
	        	</div>

	        	<button type="submit" class="btn btn-primary btn-block">Submit</button>
	        </form>
	      </div>
	    </div>
 	</div>
 </div>

</div>
<br>
<div>
<a class="btn btn-outline-primary btn-md btn-block" data-toggle="collapse" href="#existingJobs" role="button" aria-expanded="false" aria-controls="existingJobs">View Existing Jobs</a>	


 <div class='row'>
 	
 	<div class='col-md-12'>
 		<div class="collapse multi-collapse" id="existingJobs">
	      {%for job in all_jobs%}
	      <div class="card card-body">
	        <h5 class="card-title">{{job.title}}</h5>
	        <h6 class="card-subtitle mb-2 text-muted">{{job.location}}</h6>
	        <p class="card-text">{{job.description}}</p>
	        <h6 class="card-subtitle mb-2 text-muted">{{job.duration}}</h6>
	        <h4>Applicants:</h4>
	        	{%for applicant in job.applications%}
	        		<h6>{{applicant}}</h6>
	        	{%endfor%}
	      </div>
	      {% endfor %}
	    </div>
	    
 	</div>
 </div>


</div>



{% endblock %}